---
layout: default
title: Home
---

<style>
  /* General section styling */
  section {
    margin-bottom: 60px; /* Increase space between sections */
    border-bottom: 1px solid #ddd; /* Add a line between sections */
    padding-bottom: 20px; /* Add padding to the bottom of sections */
  }

  section h2 {
    margin-bottom: 20px;
  }

  /* Blog posts section */
  #latest-posts .posts {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Decrease space between blog posts */
  }

  #latest-posts .post {
    padding-bottom: 10px; /* Optional: padding at the bottom of each post */
  }
</style>

<section id="about">
  <h2>About Me</h2>
  <p>{{ site.data.about.short_bio }}</p>
  <a href="{{ '/about/' | absolute_url }}">Read more</a>
</section>

<section id="latest-posts">
  <h2>Latest Blog Post</h2>
  <div class="posts">
    {% for post in site.posts limit:1 %}
    <div class="post">
      <h3 class="post-title">
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
      </h3>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
      <a href="{{ post.url | absolute_url }}">Read more</a>
    </div>
    {% endfor %}
  </div>
  <a href="{{ '/blog/' | absolute_url }}">View all posts</a>
</section>

<section id="projects">
  <h2>Highlighted Projects</h2>
  <div class="projects">
    {% for project in site.projects limit:3 %}
    <div class="project">
      <h3 class="project-title">{{ project.title }}</h3>
      <p>{{ project.description }}</p>
      <a href="{{ project.url | absolute_url }}">Learn more</a>
    </div>
    {% endfor %}
  </div>
  <a href="{{ '/projects/' | absolute_url }}">View all projects</a>
</section>
